.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card__like-button-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.card__likes-number {
  line-height: 16px;
  font-size: 13px;
}